BasedOnStyle: LLVMIndentWidth: 4TabWidth: 4UseTab: NeverPointerAlignment: LeftBreakBeforeBraces: AllmanAllowShortBlocksOnASingleLine: falseAllowShortFunctionsOnASingleLine: falseAllowShortIfStatementsOnASingleLine: falseAllowShortLoopsOnASingleLine: falseInsertBraces: trueColumnLimit: 0 SortIncludes: trueMaxEmptyLinesToKeep: 1KeepEmptyLinesAtTheStartOfBlocks: falseAccessModifierOffset: -4Cpp11BracedListStyle: false